# Trabalho

In [47]:
#Importando as Bibliotecas Necessária
import pandas as pd
import calendar
from datetime import datetime
import pyodbc
import os

In [48]:
# Extraindo o diretório que estamos trabalhando
cwd = os.getcwd()
print('Diretorio atual '+cwd)
#Estabelecendo a pasta de dados que quero utilizar
dataPath=os.path.dirname(cwd)+'\\dados_vazao'
print('Diretório de dados '+dataPath)

Diretorio atual C:\Users\DaphneCalazans\OneDrive - altageotecnia.com\Área de Trabalho\Daphne\Pessoal\Mestrado\Python_EA\ENS410064-\2024\notebook
Diretório de dados C:\Users\DaphneCalazans\OneDrive - altageotecnia.com\Área de Trabalho\Daphne\Pessoal\Mestrado\Python_EA\ENS410064-\2024\dados_vazao

In [49]:
df = pd.read_csv(dataPath+'\\87317030_Vazoes_treated.csv', sep=';', decimal=',')
df

,EstacaoCodigo,NivelConsistencia,Data,Hora,MediaDiaria,MetodoObtencaoVazoes,Maxima,Minima,Media,DiaMaxima,...,Vazao22Status,Vazao23Status,Vazao24Status,Vazao25Status,Vazao26Status,Vazao27Status,Vazao28Status,Vazao29Status,Vazao30Status,Vazao31Status
0,87317030,1,01/03/2024,NaN,1,1,39.1141,9.5702,16.1880,4.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,87317030,1,01/02/2024,NaN,1,1,30.3725,11.2747,16.9002,26.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
2,87317030,1,01/01/2024,NaN,1,1,NaN,NaN,24.6000,NaN,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
3,87317030,1,01/12/2023,NaN,1,1,54.8488,14.5781,26.8175,5.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,87317030,1,01/11/2023,NaN,1,1,333.8879,14.1146,66.3164,18.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,87317030,2,01/09/1981,NaN,1,1,92.7816,4.9207,24.9858,24.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
500,87317030,2,01/08/1981,NaN,1,1,11.1144,2.3129,4.3761,28.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
501,87317030,2,01/07/1981,NaN,1,1,73.9579,3.0714,11.5237,21.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
502,87317030,2,01/06/1981,NaN,1,1,493.4988,3.4920,38.4619,7.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
503,87317030,2,01/05/1981,NaN,1,1,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [50]:
#Filtrando apenas as colunas de interesse
lista_dados_vazoes = df[['Data','Vazao01', 'Vazao02',
       'Vazao03', 'Vazao04', 'Vazao05', 'Vazao06', 'Vazao07', 'Vazao08',
       'Vazao09', 'Vazao10', 'Vazao11', 'Vazao12', 'Vazao13', 'Vazao14',
       'Vazao15', 'Vazao16', 'Vazao17', 'Vazao18', 'Vazao19', 'Vazao20',
       'Vazao21', 'Vazao22', 'Vazao23', 'Vazao24', 'Vazao25', 'Vazao26',
       'Vazao27', 'Vazao28', 'Vazao29', 'Vazao30', 'Vazao31',
       'EstacaoCodigo','NivelConsistencia']]
lista_dados_vazoes

,Data,Vazao01,Vazao02,Vazao03,Vazao04,Vazao05,Vazao06,Vazao07,Vazao08,Vazao09,...,Vazao24,Vazao25,Vazao26,Vazao27,Vazao28,Vazao29,Vazao30,Vazao31,EstacaoCodigo,NivelConsistencia
0,01/03/2024,12.7284,16.8376,17.1119,39.1141,36.8744,25.1511,19.8686,18.4931,19.3135,...,12.4892,11.3244,10.8731,10.4304,9.5702,26.3939,14.7171,12.9697,87317030,1
1,01/02/2024,20.6856,19.5981,17.5064,15.0486,30.0435,16.5022,14.5781,14.5781,14.1146,...,11.9034,12.3314,30.3725,24.1133,17.2527,11.2747,NaN,NaN,87317030,1
2,01/01/2024,14.1000,15.3000,17.5000,17.5000,17.5000,18.5000,15.0000,14.3000,13.2000,...,NaN,NaN,NaN,50.6000,53.7000,47.7000,33.8000,26.5000,87317030,1
3,01/12/2023,40.2677,30.0435,33.4099,42.5581,54.8488,51.4646,49.7861,45.7046,35.1561,...,15.5261,14.5781,23.5249,16.0107,14.5781,14.5781,15.7675,14.5781,87317030,1
4,01/11/2023,39.5175,44.9081,53.7143,44.1182,29.3904,22.6550,20.1384,17.7617,15.0486,...,40.6453,30.0435,25.9197,23.2332,26.8459,106.2767,54.8488,NaN,87317030,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,01/09/1981,4.9207,9.5978,9.9663,68.8518,36.8585,17.8226,11.9155,8.1951,6.9057,...,92.7816,76.0529,48.6034,28.0208,17.8226,30.6080,25.5506,NaN,87317030,2
500,01/08/1981,6.3034,5.7293,4.9207,4.4166,4.4166,3.9404,3.9404,3.4920,3.4920,...,2.3129,2.3129,2.3129,4.1750,11.1144,9.9663,6.3034,5.1832,87317030,2
501,01/07/1981,20.4192,10.7246,6.9057,6.0128,5.4527,4.9207,4.4166,4.4166,3.9404,...,13.1709,12.7453,24.9513,14.9451,11.1144,8.8823,7.5363,6.6011,87317030,2
502,01/06/1981,3.9404,3.4920,3.7127,4.1750,3.4920,6.6011,493.4988,242.0906,117.3093,...,4.9207,4.9207,5.4527,4.9207,4.4166,3.9404,5.1832,NaN,87317030,2
503,01/05/1981,NaN,NaN,NaN,NaN,NaN,NaN,4.4166,3.9404,3.4920,...,1.9749,1.9749,13.6037,14.4908,9.9663,6.9057,5.7293,4.4166,87317030,2

In [51]:
#Convertendo formato do arquivo de vazão

def convert_table_vazao(df_table_vazao):
    print('...convertendo formato')
    df_table_vazao['Data'] = pd.to_datetime(df_table_vazao['Data'], format='%d/%m/%Y')    
    df_table_vazao = df_table_vazao[lista_dados_vazoes]
    
    list_vazao = []
    list_data = []
    list_estacao = []
    list_consistencia = []
    
    for n in range(0,len(df_table_vazao)):

        year_info=df_table_vazao['Data'][n].year
        month_info=df_table_vazao['Data'][n].month   

        for day in range(0,calendar.monthrange(year_info, month_info)[1]):
                number = day +1
                if number <10:
                    name_col_vazao = 'Vazao0'+str(number)
                else:
                    name_col_vazao = 'Vazao'+str(number)
                    
                estacao = df_table_vazao.iloc[[n]]['EstacaoCodigo']
                vazao = df_table_vazao.iloc[[n]][name_col_vazao]
                consis = df_table_vazao.iloc[[n]]['NivelConsistencia']
                data=datetime(year_info, month_info, day+1)
                
                list_estacao.append(estacao.values[0])
                list_vazao.append(vazao.values[0])
                list_consistencia.append(consis.values[0])
                list_data.append(data)

    Tabela_Final=pd.DataFrame(list_data, columns=['Data'])
    Tabela_Final['EstacaoCodigo'] = list_estacao
    Tabela_Final['Vazao'] = list_vazao
    Tabela_Final['NivelConsistencia'] = list_consistencia
    Tabela_reorder=Tabela_Final.sort_values(by=['Data']).reset_index() 
    
    return Tabela_reorder

In [52]:
# ...pós-processamento das séries de vazão para priorização dos dados consistidos 
def nc(df):
    print('...filtrando consistência')
    # result df
    result = pd.DataFrame()
    gauges = df['EstacaoCodigo'].unique()
    for g in gauges:
        #...seleciona dados da estação de interesse separando em dados consistidos e não consistidos
        nc1 = df[(df['EstacaoCodigo'] == g) & (df['NivelConsistencia'] == 1)].sort_values(by = 'Data')
        nc2 = df[(df['EstacaoCodigo'] == g) & (df['NivelConsistencia'] == 2)].sort_values(by = 'Data')
        #...indexa os dados a data
        nc1.set_index('Data', inplace=True)
        nc1 = nc1.resample('D').mean()
        nc2.set_index('Data', inplace=True)
        nc2 = nc2.resample('D').mean()

        #...junta dados consistidos e não consistidos priorizando os dados consistidos
        if len(nc1) == 0:
            dates=[nc2.index.min(), nc2.index.max()]
        elif len(nc2) == 0:
            dates=[nc1.index.min(), nc1.index.max()]
        else:
            dates=[nc1.index.min(), nc2.index.min(), nc1.index.max(), nc2.index.max()]
        date_list = pd.date_range(min(dates), max(dates), freq='D')
        df_final = pd.DataFrame(index=date_list, columns=nc2.columns)
        df_final.update(nc2,overwrite=False)
        df_final.update(nc1,overwrite=False)
        df_final['Data'] = df_final.index
        df_final.index = list(range(0,len(df_final)))
        result = pd.concat([result, df_final])
        
    return result