# Aula 1 - Python em Aplicações Ambientais

Iremos agora instalar a biblioteca que usaremos na próxima aula para importar e analisar nossa série temporal: pandas.
Para instalar pacotes aqui, no Jupyter, vamos usar a notação "!", sem aspas, e o comando de instalação.

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
# Importando o pandas
import pandas as pd

In [17]:
#Ler o arquivo de base/exemplo
df = pd.read_csv('dados/chuva_A806.csv', sep=';')
df

       Data Medicao  Hora Medicao PRECIPITACAO TOTAL, HORARIO(mm)
0        21/01/2003             0                             NaN
1        21/01/2003           100                             NaN
2        21/01/2003           200                             NaN
3        21/01/2003           300                             NaN
4        21/01/2003           400                             NaN
...             ...           ...                             ...
192379   31/12/2024          1900                             NaN
192380   31/12/2024          2000                             NaN
192381   31/12/2024          2100                             NaN
192382   31/12/2024          2200                             NaN
192383   31/12/2024          2300                             NaN

[192384 rows x 3 columns]

In [19]:
df.describe()

        Hora Medicao
count  192384.000000
mean     1150.000000
std       692.220454
min         0.000000
25%       575.000000
50%      1150.000000
75%      1725.000000
max      2300.000000

In [20]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\daphnecalazans\onedrive - altageotecnia.com\área de trabalho\daphne\pessoal\mestrado\python_ea\ens410064-\pyenv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ------ --------------------------------- 1.3/7.8 MB 6.7 MB/s eta 0:00:01
   -------------- ------------------------- 2.9/7.8 MB 7.3 MB/s eta 0:00:01
   --------------------- ------------------ 4.2/7.8 MB 6.8 MB/s eta 0:00:01
   ---------------------------- ----------- 5.5/7.8 MB 7.1 MB/s eta 0:00:01
   ------------------------------------ --- 7.1/7.8 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 7.1 MB/s eta 0:00:00
Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ----------------------- ---------------- 1.3/2.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 6.9 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------- ----------------------- 1.0/2.6 MB 5.0 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.6 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 4.9 MB/s eta 0:00:00
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4